label.time_label {
    font-size: 32pt;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

.pause_button {
    background: #3e4144;
}

.pause_button:hover {
    background: #ffffff;
}

.transparent_button {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    outline: none;
}

.window {
    background-color: #2a2d30;
}