label.time_label {
    font-size: 32pt;
    font-weight: bold;
    color: rgb(255, 255, 255);
    outline: none;
    box-shadow: none;
}

.pause_button {
    background: #ffffff;
    outline: none;
    box-shadow: none;
    padding: 4px;
}

.pause_button:hover {
    background: transparent;

    background-image: none;
    transition: none;
}

.delete_button {
    background: transparent;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

.transparent_button {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    outline: none;
}

.window {
    background-color: #242729;
    outline: none;
    box-shadow: none;
}

.box_background {
    background-color: #2c3032;
    border-radius: 30px;
    padding: 8px;
    font-size: 125pt;
    outline: none;
    box-shadow: none;
}

.box_button {
    background-color: #2c3032;
    border-radius: 30px;
    padding: 8px;
    font-size: 125pt;
    font-family: serif;
    border: hidden;
    outline: none;
    box-shadow: none;
}

.box_button:active {
    background-color: #313638;
}

.scroll_timers {
    background-color: transparent;
    box-shadow: none;
    border: none;
    background-color: transparent;
}

.scroll_timers:focus {
    background-color: transparent;
    box-shadow: none;
    border: none;
    background-color: transparent;
}

scrolledwindow, 
scrolledwindow undershoot,
undershoot.top,
undershoot.bottom,
undershoot.left,
undershoot.right,
overshoot,
overshoot.top,
overshoot.bottom,
overshoot.left,
overshoot.right {
    outline: none;
    box-shadow: none;
    border: none;
    background-color: transparent;
    background-image: none;
    animation-play-state: paused;
}

flowchild {
    border: hidden;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
}

* {
  outline: none;
  box-shadow: none;
  border: none;
}